{% extends 'base.html' %}
{% load decrypt_string %}
{% block content %}
    <h1>Detail expense record</h1>
    <a href="{% url 'expense_creation' %}">Ajouter une dépense</a>
    <ul>
        {% for expense in expense_record.expenses.all %}
            <li>
                <a href="{% url 'expense_detail' pk=expense.pk %}">
                    {{ expense.name|decrypt_string:request.session.code }} - {{ expense.amount|decrypt_string:request.session.code }}€
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}